.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
*.tsbuildinfo
.build/

dsh-plugin-desktop/dist/
dsh-plugin-desktop/lib/
dsh-community-market/lib/
icon-256.png
icon-512 copy.png
icon-512.png
icon-qnovel.svg
icon.icns
icon.png
